body {
  padding: 0;
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  }

.FormSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.FormSection input {
  border: .5px solid white;
  border-radius: 6px;
}

.FormSection label {
  color: white;
}

.FormSection{
	max-width: 450px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.FormSection label{
	display:block;
	margin-bottom: 10px;
}
.FormSection label > span{
	width: 100px;
	color: #F072A9;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
.FormSection fieldset{
	border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #FFD2D2;
	padding: 20px;
	background: #FFF4F4;
	box-shadow: inset 0px 0px 15px #FFE5E5;
}
.FormSection fieldset legend{
	color: #FFA0C9;
	border-top: 1px solid #FFD2D2;
	border-left: 1px solid #FFD2D2;
	border-right: 1px solid #FFD2D2;
	border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
}
.FormSection textarea{
	width:500px;
	height:100px;
}
.FormSection input[type=text],
.FormSection input[type=tel],
.FormSection input[type=email],
.FormSection select,
.FormSection textarea{
	border-radius: 6px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: #F072A9;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	width:200px;
}
.FormSection  input[type=submit],
.FormSection  input[type=button]{
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 6px;
	font-weight: bold;
}

.FormSection button {
  background: #ffe7f1;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #ca1667;
	border-radius: 6px;
  margin-top: -15px;
}

p {
  color: #bf1650;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: -12px;

}

.FormSection label {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: .5rem;
  font-size: 14px;
  margin-bottom: 0;

}

h1 {
  font-size: 2rem;
}